<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <div class="Home">
            <h1>Hello Node.js on App Engine Standard!</h1>
            <p>Hello and welcome to the landing page for Kriston-Bot</p>
        </div>
    </body>
</html>
